body * {
    font-family: 'Roboto', sans-serif;
    
}

body {
    background: white;
    transition: background 0.2s linear;
}

body.dark {
    background: #292c35;
  }
  
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
  
  }
  
  
  .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: #f1c40f;
  }
  
  .fa-sun {
    color: #f39c12;
  }

header {
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
}

main * {
    margin: auto 10px auto 10px;
    text-align: justify;
    font-size: 16px;
    
}

main h2, h3{
    font-weight: bolder;
}

 .menu-principal {
    background: rgb(247,247,247);
    background: linear-gradient(90deg, rgba(247,247,247,1) 2%, rgba(253,224,255,1) 45%, rgba(225,250,255,1) 94%);
    padding-bottom: 10px;
    width: 100%;
}

.logo-principal{
    display: block;
    margin: 0px auto 5px;
    padding-top: 10px;
    height: 100px;
    width: 100px;
    background: url(C:\Users\fellipi.borges\Documents\Alura\Site-para-praticar\logo.png);
}

.menu-navegacao {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #d4a6fa;
    text-shadow: 1px 1px 5px #d4a6fa; 
}

.item {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
	text-align: center;
	
}

a:hover{
    text-decoration:overline;
}

nav ul {
    justify-content: space-evenly;
    text-align: justify;
    
}

nav a {
    text-decoration: none;
    color: #140520;
    text-transform: uppercase;
    font-weight: bolder
}

main h2, h3 {
    font-size: 22px;
    text-align: center;

    margin: 10px auto 10px auto;
    padding-top: 20px ;
}

.Tim-Berners {
    min-width: 20px;
    max-width: 120px;
    float: left;
}

.middle-main {
    
    display: block;
    margin: 0px auto;
    height: 150px;
    object-fit: cover;
    width: 100%;
    
}

figcaption{
    padding-top: 10px;
    text-align: center;
}

p{
    margin-bottom: 10px ;
}

.video {
    text-align: center;
    margin: 10px auto 10px auto;
}

.video p {
    text-align: center;
    margin: 25px auto 10px auto;
}

footer {
    background: rgb(247,247,247);
    background: linear-gradient(90deg, rgba(247,247,247,1) 2%, rgba(253,224,255,1) 45%, rgba(225,250,255,1) 94%);
    padding-bottom: 50px;
    text-align: center;
    
}

h4 {
    display: block;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    color: #140520;
    text-shadow: 5px 5px 5px #d4a6fa;
    border-bottom: 1px solid #d4a6fa;
}



.div-footer img{
    margin: 10px 50px 10px 50px;
    width: 10%;
}

@media only screen and (max-device-width: 439px) {
    
    main h2, h3{
        font-weight: bolder;
        text-align: left;
        margin: 10px 10px 10px 10px;
        
    }

    .video {
        display: none;
        
    }

    .div-footer img {
        width: 9%;
    }

    nav a {
        text-decoration: none;
        color: #140520;
        text-transform: uppercase;
        font-weight: bolder
    }
    

}

@media only screen and (max-device-width: 28) {

    .item {
        font-size: 2px;
    }
    
    main h2, h3{
        font-weight: bolder;
        text-align: left;
        margin: 10px 10px 10px 10px;
        
    }

    .video {
        display: none;
        
    }

    .div-footer img {
        width: 15%;
    }

    nav a {
        text-decoration: none;
        color: #140520;
        text-transform: uppercase;
        font-weight: bolder
    }
    


}
