body * {
    font-family: 'Roboto', sans-serif;
    
}

main * {
    margin: auto 10px auto 10px;
    text-align: justify;
    font-size: 16px;
}

 .menu-principal {
    background-color: #140f0d;
    padding-bottom: 10px;
    
}

.logo-principal{
    display: block;
    margin: 0px auto;
    height: 100px;
    width: 100px;
}

.menu-navegacao {
    display: flex;
    

}

nav ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-self: center;  
}

main h2, h3 {
    font-size: 22px;
    text-align: center;

    margin: 10px auto 10px auto;
}

p{
    margin-bottom: 10px ;
}

footer {
    background-color: #140f0d;
    padding-bottom: 50px;
    
}

h4 {
    padding-top: 10px;
    text-align: center;
    color: #d4a6fa;
}
