body * {
    font-family: 'Roboto', sans-serif;
}

.logo-principal{
    display: block;
    margin: 0px auto;
    height: 100px;
    width: 100px;
}

nav ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-self: center;
    
}

.menu-navegacao {
    display: flex;
}

